

<mat-toolbar class="toolbar-item" color="accent">
    
    <p>Angular material IO Icon</p>
    <div>
        <input class="input-field" matInput [(ngModel)]="searchIcon" (input)="getIcon()" placeholder="Search your icon">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-raised-button (click)="getChange()" color="primary">Search</button>
   
    </div>

</mat-toolbar>
<p class="p-item">Double click on icon to copy the code</p>  

      

    <div class="container">
        <div class="item1"></div>
        <div class="item2">
        <div class="sub-item" *ngFor="let item of items"  matTooltip="{{item}}" (dblclick)="itemclick(item)"><mat-icon>{{item}}</mat-icon>
            <p>{{item}}</p>
        </div>
    </div>
        <div class="item3"></div>
    </div>


    <div class="footer">
        <div class="footer-item1">
            <a routerLink="contact-us">Contact-us</a>
        </div>
        <div class="footer-item2">
            <a routerLink="privacy-policy">Privacy-policy</a>
        </div>
        <div class="footer-item3">
            <a routerLink="copy-right">Copy-Right</a>
        </div>
    </div>

    <router-outlet></router-outlet>
    